
@media screen and (max-width: 664px) {
    .contact-form-contain {
        width: 80%;
    }
}

@media screen and (max-width: 452px) {
    .contact-form-contain {
        width: 90%;
    }
    .name-info {
        flex-direction: column;
    }
    .selector-contain {
        flex-direction: column;
    }
}
